{% extends "base.html" %}

{% load crispy_forms_tags %}
{% block regis %}
{% load socialaccount %}

<div class = 'col-15  col-md-5 mb-3 mx-auto'>
<div class=" card d-flex justify-content-center" >
<div class = "card-body align-self-center">
<!-- <div class = "card border border-warning text-dark  ">-->
<form method = "POST"  action=".">{% csrf_token %}
<!--   {{form|crispy }}-->
    <div class="form-group">

    <input type="text" class="form-control"  aria-describedby="emailHelp" placeholder="Enter email" name="username">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>

  <div class="form-group">

    <input type="password" class="form-control" placeholder="Password" name="password">
  </div>

<button type = "submit" class=" btn btn-success">Login</button>
    <a href="{% provider_login_url 'google' %}">Google</a>
    <a href="/forget/"> Forget password </a>
</form>

</div>
    </div>
  </div>
  </div>
{% endblock %}
