<div class = 'col-12 col-md-10 mb-3 mx-auto'>
 <div class = "card">

     <div class="card-body">
         <h5  class= "card-title"> {{ blog_post.title }}  </h5>
         {% if truncate %}
            <p class = "card-text"> {{ blog_post.content | linebreaks | truncatewords:80}} </p>
        {% else %}
            <p class = "card-text"> {{ blog_post.content | linebreaks }} </p>
         {% endif %}
         {% if not detail %}
         <a href = "{{ blog_post.get_absolute_url }}">View</a>
         {% endif %}

     </div>
     </div>
 </div>